<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="baseUrl" value="http://localhost:14054/" />
    <add key="livingHelpPath" value="C:\git\Ndc2011Demo\SpecOverflow.Web\SpecOverflow.Web\Content\SpecOverFlow.xml" />
  </appSettings>
  <connectionStrings>
    <add name="SpecOverflowEntities" connectionString="Data Source=.;Initial Catalog=NdcDemoTest;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <specFlow>
    <stepAssemblies>
      <stepAssembly assembly="SpecOverflow.LivingHelp" />
    </stepAssemblies>
  </specFlow>
</configuration>